* {
    padding: 0;
    margin: 0;
}

body {
    background: #687187;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangles {
    height: 200px;
    width: 300px;
    padding: 15px;
}

.top-bottom,
.left-right {
    position: relative;
}

.top-bottom {
    &::before,
    &::after {
        content: "";
        position: absolute;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    &::before {
        top: -55px;
        left: 100px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid #eff1f2;
    }

    &::after {
        top: 155px;
        right: 100px;
        border-top: 50px solid #eff1f2;
        border-bottom: 50px solid transparent;
    }
}

.left-right {
    &::before,
    &::after {
        content: "";
        position: absolute;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }

    &::before {
        top: 50px;
        left: -5px;
        border-left: 50px solid transparent;
        border-right: 50px solid #eff1f2;
    }

    &::after {
        top: 50px;
        right: -5px;
        border-left: 50px solid #eff1f2;
        border-right: 50px solid transparent;
    }        
}
