.switch {
  position: relative;
}

.switch input[type="checkbox"] {
  visibility: hidden;
}

.switch input[type="checkbox"]:checked + label {
  background-color: green;
}

.switch input[type="checkbox"]:checked + label:after {
  left: 27px;
}

.switch label {
  position: absolute;
  width: 50px;
  height: 23px;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.switch label:after {
  content: '';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: absolute;
  left: -2px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 4px;
          box-shadow: 0 0 4px;
  color: #999;
}
