html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #8e44ad;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: #fff;
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.card::-webkit-scrollbar {
    display: none;
}

.card-content{
  min-width: 200px;
  background-color: #e74c3c;
  margin: 5px;
}
