html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.listItems li {
  display: inline-block;
  font-size: 40px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

ul.listItems.hidden li:nth-child(1) {
  -webkit-transform: translate(250px, 100px);
          transform: translate(250px, 100px);
}

ul.listItems.hidden li:nth-child(2) {
  -webkit-transform: translate(-350px, -240px);
          transform: translate(-350px, -240px);
}

ul.listItems.hidden li:nth-child(3) {
  -webkit-transform: translate(-520px, 50px);
          transform: translate(-520px, 50px);
}

ul.listItems.hidden li:nth-child(4) {
  -webkit-transform: translate(90px, -300px);
          transform: translate(90px, -300px);
}

ul.listItems.hidden li:nth-child(5) {
  -webkit-transform: translate(350px, 300px);
          transform: translate(350px, 300px);
}
