html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-component{
    height:10px;
    width:200px;
    border-radius:4px;
  }
  #top-bun{
    height:80px;
    background-color:peru;
    border-top-right-radius:80px;
    border-top-left-radius:80px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  }
  #top-lettuce{
    background-color:green;
  }
  #tomato{
    background-color:red
  }
  #cheese{
    background-color:yellow;
  }
  #pattie{
    height:15px;
    background-color:brown;
  }
  #bottom-lettuce{
    background-color:green;
  }
  #bottom-bun{
    height:30px;
    background-color:peru;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
  }
  #burger-text{
    width:200px;
    text-align: center;
  }